<!DOCTYPE html>
<html>
<head>
  <title>Grupo La Seña</title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
<!--  <%= javascript_include_tag('jquery-1.8.2.min') %>  -->
   
    <%= javascript_include_tag('http://code.jquery.com/jquery.js') %>
    <%= javascript_include_tag('bootstrap.min') %>
    <%= javascript_include_tag('jquery.bxslider.min') %>
  
  
</head>
<body>		

    <div class="container round">
      <div class="row">
        <div class="span6 offset3">
          <h2>BxSlider Carrusel con descripción en las imágenes</h2>
          <ul class="bxslider">
          	<li><%= image_tag("fotos/La_Se_9851.jpg", :alt => "La Seña", :size => "565x330") %></li>
          	<li><%= image_tag("fotos/La_Se_AgCal.jpg", :alt => "La Seña", :size => "565x330") %></li>
          	<li><%= image_tag("fotos/La_Se_Esce.jpg", :alt => "La Seña", :size => "565x330") %></li>
          </ul>
        </div>
      </div>
    </div> 

    <script type="text/javascript">
      $(document).ready(function(){
        $(".bxslider").bxSlider({
          mode: 'horizontal',
          auto: true, 
          autoControls: true
          });
        });
    </script>
    	
</body>
</html>
